<h1>Bands</h1>

<ul>
  <% @bands.each do |band| %>
    <li>
      <a href="./bands/<%= band.id %>"><%= band.name %></a>
      <%= button_to "Edit", "/bands/" + band.id.to_s + "/edit", method: :get %>
      <%= button_to "Delete", "/bands/" + band.id.to_s, method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a Band >>", new_band_url %>
