<!DOCTYPE html>
<head>
    <title><%=@cat.name%></title>
</head>

<body>
  <h1><%=@cat.name%></h1>
  <table>
    <th><%= @cat.name %>'s Attributes!</th>
    <% @cat.attributes.each do |key, value| %>
      <tr>
        <td><%= key %>:</td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>

  <%= button_to "Edit", edit_cat_url(@cat), method: :get %>
</body>
</html>
